@import "tailwindcss";
@import "@nuxt/ui";

/* these are necessary styles for vue flow */
@import '@vue-flow/core/dist/style.css';

/* this contains the default theme, these are optional styles */
@import '@vue-flow/core/dist/theme-default.css';

/* General codeblock styles. */
.shiki, .shiki span {
  @apply !leading-tight !text-base;
}

/* Triggered only in the dark theme. */
html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  /* background-color: var(--shiki-dark-bg) !important; */
  background-color: transparent !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Disable scrollbars */
}

/* Override edge background-color */
.vue-flow__edge-textbg {
  fill: var(--ui-bg) !important;
}
/* Override edge text */
.vue-flow__edge-text {
  font-size: 15px !important;
  fill: var(--ui-text) !important;
}
/* Highlight selected node with green */
.vue-flow__node.selected {
  @apply !border-teal-400 dark:!border-teal-300 !border-3;
}

.upg {
  display: grid;
  grid-template-columns: 70% 30%;
  height: 100vh;
  width: 100vw;
}

.upg-left {
  @apply flex flex-col;
  height: 100%;
}

.upg-right {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.upg-panel {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.upg-panel-1 {
  flex-shrink: 0;
  max-height: 70%;
}

.upg-panel-header {
  @apply my-2 mr-2 flex items-center justify-between;
}

.upg-panel-content {
  @apply border border-teal-400 dark:!border-teal-300 rounded-md px-2;
  overflow: auto;
}

.top-menu {
  @apply flex items-center justify-between;
}

/* def color */
/* .def-mod { */
/*   @apply text-sky-600 dark:text-sky-400 */
/* } */

.def-fn {
  /* @apply text-teal-600 dark:text-teal-400 */
  @apply text-sky-600 dark:text-sky-400
}

.def-struct {
  @apply text-amber-600 dark:text-amber-400
}

.def-enum {
  @apply text-rose-600 dark:text-rose-400
}

.def-union {
  @apply text-indigo-600 dark:text-indigo-400
}

.def-trait {
  @apply text-orange-600 dark:text-orange-400
}

.def-ty {
  @apply text-pink-600 dark:text-pink-400
}

.upg-node,
.upg-node-fn,
.upg-node-unsafe-fn {
  @apply text-lg font-mono whitespace-nowrap;
  @variant dark {
    @apply bg-gray-800 text-white border-gray-100;
  };
}
.upg-node-unsafe-fn {
  @apply bg-red-100 dark:bg-red-900/30;
}

.upg-node-tag {
  @apply text-lg font-mono whitespace-nowrap
    text-orange-600 dark:text-orange-500 font-bold
    border flex justify-center items-center;
}

.upg-node-adt,
.upg-node-adt-fn-kind {
  @apply text-gray-500 font-mono whitespace-nowrap bg-transparent;
}
.upg-node-adt { @apply font-bold text-xl dark:border-gray-100/50; }
/* Unset bottom border if fields are connected to callees. */
.upg-node-adt-border-b-0 { @apply border-b-0; }
.upg-node-adt-fn-kind { @apply text-lg border-none; }

.adt-fn-group {
  @apply flex justify-start items-center gap-2 my-1;
}

@plugin "@tailwindcss/typography";
@layer base {
  /* 针对技术文档的深度定制 */
  .prose {
    /* 1. 去掉行内代码前后的反引号 (`) */
    --tw-prose-quote-borders: none;
    
    :not(pre) > code {
      @apply !bg-gray-100 dark:!bg-gray-800 !text-pink-600 dark:!text-pink-400 
             px-1.5 py-0.5 rounded-md font-medium text-[0.9em];
      
      &::before, &::after {
        content: "" !important; /* 彻底移除反引号 */
      }
    }

    a code {
      /* 颜色继承链接的蓝色，而不是原本的粉色 */
      @apply !text-inherit; 
      
      /* 稍微加深一点背景色，或者稍微调整边框，让它看起来像个可点击的按钮 */
      @apply !bg-blue-50 dark:!bg-blue-900/30 transition-colors;
    }

    /* 解决 hover 边框被遮挡的问题 */
    a {
      /* 增加一点底部内边距，确保边框在 code 的背景范围之外 */
      @apply pb-0.5 !text-sky-600 dark:!text-sky-300;
    }

    /* 3. 悬浮交互增强 */
    a:hover code {
      /* 鼠标悬浮在链接上时，内部代码块的背景色也跟着变深一点 */
      @apply !bg-blue-200 dark:!bg-blue-400/50;
    }

    /* 3. 优化列表符号颜色 */
    ul > li::marker {
      @apply !text-blue-500;
    }

    /* 4. 优化代码块外观 */
    /* pre { */
    /*   @apply bg-slate-50/50 dark:bg-zinc-900/50 border border-slate-200 dark:border-zinc-800 shadow-sm; */
    /* } */

    h1 {
      @apply !text-2xl !text-orange-600 dark:!text-orange-400;
    }

    h2 {
      @apply !text-2xl !text-teal-600 dark:!text-teal-400;
    }
  }
}

@layer components {
  .prose-tight-list li {
    line-height: 1.5 !important;
    margin-top: 0.1rem !important;
    margin-bottom: 0.1rem !important;
  }
}
